<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="test1" >
        <classes>
            <class name="bbs.SwitchPlatePageTest"/>
        </classes>
    </test>

    <test name="test2" >
        <classes>
            <class name="bbs.SearchPostTest"/>
        </classes>
    </test>

    <test name="test3" >
        <classes>
            <class name="bbs.WebViewTest"/>
        </classes>
    </test>

</suite>